/* common */
*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body */
body {
    background-color: #ADD9E6;
}

#main-container{
    width: calc(75%);
    margin: 20px auto;
}

/* header */
h1{
    font-size: 50px;
    text-align: center;
    color: white;
}

/* main */


.card {
    width: 180px;
    height: 208px;
    background-image: url();
}