/* common */
*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nerko One', cursive;
}

/* body */
body {
    background-color: #ADD9E6;
}

#main-container{
    width: calc(75%);
    margin: 20px auto;
}

/* header */
h1{
    text-align: center;
    font-size: 100px;
    color: white;
    text-shadow: 3px 0px 0px black;
}

/* main */
#row-container::after {
    content: '';
    display: table;
    clear: both;
}

.card {
    float: left;
    position: relative;
    width: calc(100% / 4 - 40px);
    margin: 20px;
    height: 208px;
    box-shadow: 3px 0px 1px black;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-position: center;
    border-radius: 10px;
}

h2{
    position: absolute;
    text-align: center;
    bottom: 0.2%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hover:hover {
    background-repeat: no-repeat;
    background-size: 70%;
    background-color: white;
}

 .row1 .card:nth-child(1):hover {
    background-image: url(../img/noun_air_balloon_3134741.png);
}

.row1 .card:nth-child(1):hover h2 {
    color: #E61A86;
}

.row1 .card:nth-child(3):hover {
    background-image: url(../img/noun_Tram_3134750.png);
}

.row1 .card:nth-child(3):hover h2 {
    color: tomato;
}

.row2 .card:nth-child(2):hover {
    background-image: url(../img/noun_Bicycle_3134821.png);
}

.row2 .card:nth-child(2):hover h2 {
    color: violet;
}

.row2 .card:nth-child(4):hover {
    background-image: url(../img/noun_Submarine_3134738.png); 
}

.row2 .card:nth-child(4):hover h2 {
    color: yellowgreen;
}

.row3 .card:nth-child(1):hover {
    background-image: url(../img/noun_Tractor_3134797.png); 
}

.row3 .card:nth-child(1):hover h2 {
    color:orange;
}

.row3 .card:nth-child(3):hover {
    background-image: url(../img/noun_Cruise_Ship_3134824.png); 
}

.row3 .card:nth-child(3):hover h2 {
    color: orangered;
}

/* footer */
footer {
    margin-top: 20px;
    text-align: center;
}